@charset "UTF-8";

/*
	File:
		view.sequence.css
		
	Description:
		Contains CSS styles for Sequence View.
		
	Date:
		17.09.2015
*/

#seq-content-wrapper table td {
	padding-bottom: 15px;
}

#seq-content-wrapper ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#seq-content-wrapper table {
	clear: both;
	font-family: monospace;
	font-size: 15px;
	margin: 0 auto 0 10px;
	padding-top: 15px;
}

#seq-content-wrapper table td.seq-seqstart {
	text-align: right;
	padding-left: 10px;
	font-size: 12px;
	color: #464646;
}

#seq-content-wrapper table td.seq-seqend {
	text-align: left;
	padding-right: 20px;
	font-size: 12px;
	color: #464646;
}

#seq-content-wrapper td.seq-sequence {
	padding: 0 50px 0 50px;
}

#seq-content-wrapper td.seq-sequence pre {
	padding: 0;
	margin: 0;
}

#seq-content-wrapper td.seq-sequence > ul {
	padding: 0;
	margin: 0;
}

#seq-content-wrapper td.seq-sequence > ul > li {
	float: left;
	padding: 10px 0 5px 0;
}

#seq-content-wrapper .seq-msg {
	text-align: center;
	font-style: italic;
}

.seq-fw {
	background: url(images/orf-fk.png);
	background-size: 50px;
}

.seq-fw.green {
	background: url(images/orf-fg.png);
	background-size: 50px;
}

.seq-fw.yellow {
	background: url(images/orf-fy.png);
	background-size: 50px;
}

.seq-fw.orange {
	background: url(images/orf-fo.png);
	background-size: 50px;
}

.seq-rv {
	background: url(images/orf-rk.png);
	background-size: 50px;
}

.seq-rv.green {
	background: url(images/orf-rg.png);
	background-size: 50px;
}

.seq-rv.yellow {
	background: url(images/orf-ry.png);
	background-size: 50px;
}

.seq-rv.orange {
	background: url(images/orf-ro.png);
	background-size: 50px;
}


.seq-links {
	padding-left: 20px;
	font-size: 14px;
}

.seq-links li {
	list-style: none;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px dotted #777;
}

.seq-links li:first-child,
.seq-links li:last-child{
	border-right: none;
}

#seq-fasta {
	width: 80%;
	margin-left: 20px;
	padding: 10px 15px 10px 15px;
	word-break: break-all;
	display: block;
	font-family: 'Cutive Mono', serif;
	text-align: left;
	border-left: 5px solid orange;
}

.seq-hidden {
	display: none;
	border-left: none !important;
}

#seq_status {
	margin: 10px 0 15px 10px;
	font-size: 14px;
}

#seq_statusname {
	margin-left: 10px;
	margin-right: 15px;
}

.seq-blast {
	clear: both;
	font-size: 14px;
	color: #565656;
	padding: 10px 0 5px 30px;
}